.footer {
    box-sizing: border-box;
    width: 100%;
    gap: 1rem;
    display: flex;
    background-color: #f7f7f7;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-section_1 {
    grid-template-columns: 1/2;
    grid-template-rows: 1/2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer_icon {
    display: flex;
    justify-content: space-around;
}


.footer-section_2 {
    grid-template-columns: 2/3;
    grid-template-rows: 1/2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-section_3 {
    grid-template-columns: 3/4;
    grid-template-rows: 1/2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-section_4 {
    grid-template-columns: 4/5;
    grid-template-rows: 1/2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tittle_footer, .text_footer {
    color: black;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.footer_link {
    text-decoration: none;
    color: black;
}

.footer_link:hover {
    color: blue;
}
