body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Header

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}


// Login signup


.login-signup {
    display: flex;
}

.login-signup a {
    margin-left: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #5bc0de;
    cursor: pointer;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-size: 48px;
    margin: 0;
}

.hero-text p {
    margin: 10px 0;
}


// Search form

.search-form {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: -100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.search-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 22%;
}

.search-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5bc0de;
    color: white;
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}



.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.forgot-password {
    margin-top: 10px;
  }
  
  .create-account {
    margin-top: 20px;
    text-align: center;
  }
  
  .create-account a {
    color: #5bc0de;
    text-decoration: none;
  }

  .remember-me {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .remember-me input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .remember-me label {
    font-size: 14px;
    color: #666;
  }

button {
    background-color: #5bc0de;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}




/*section trending 2024 start*/
.trending2024 {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.card-container {
    display: flex;
    padding: 40px;
    background-color: #f7f7f7;
    text-align: center;
}

.card-image {
    width: 300px;
    height: 300px;
}

.scale {
    transition: 1s; /* Время эффекта */
}
.scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.price{
    font-weight: bold;
}
.card-link {
   text-decoration: none;
   color: black;
}
.card-link:visited {
    color: inherit;
}
.card-link:hover {
    color: red;
}

.card {
    margin: 1%;
}

/*section trending 2024 end*/

.highlights {
    padding: 40px;
    background-color: #f7f7f7;
    text-align: center;
}

.highlights h2 {
    margin-bottom: 20px;
}

.highlight-cards {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin-top: 15px;
}


footer {
    background-color: #333;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

footer .footer-section {
    width: 30%;
}

footer .footer-section h3 {
    margin-bottom: 15px;
}

footer .footer-section p, footer .footer-section a {
    color: white;
    text-decoration: none;
}




/* секция выпадающие списки начало */

.ocean-container {
    background: url('../img/sea-istanbul.jpg');
    position: relative;
    width: 100%;
    padding: 20px;
    max-width: 1800px;
    color: white;
    border-radius: 30px;
    overflow: hidden;
    margin: auto;
}

.ocean-content {
    float: left;
}

.weather-api {
    float: right;
}

.ocean-title h2 {
    font-weight: 300;
}

.ocean-title h1 {
    font-size: 3em;
    margin: 0.2em 0;
}

.ocean-title p {
    font-size: 1.2em;
    margin: 1em 0;
}

.ocean-carousel-controls {
    display: flex;
    margin-bottom: 10px;
}

.ocean-carousel-btn {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.ocean-carousel-btn:hover {
    background: rgba(255, 255, 255, 0.425);
}

.ocean-form {
    display: flex;
    flex-direction: row;
    float: left;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 28%;
    margin-top: 10%;
    background-color: #68686856; /* Прозрачный белый фон */
    border: 1px solid #ffffff; /* Белая рамка */
    border-radius: 10px; /* Округлые углы */
    padding: 20px; /* Внутренний отступ */
}

.ocean-form-group {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.ocean-form-group label {
    display: block;
    margin-bottom: 5px;
}

.ocean-form-group select,
.ocean-form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #6868683f; /* Прозрачный белый фон */
}

/* Стиль для элементов select */
.ocean-form select {
    appearance: none; /* Удаление стандартного внешнего вида для select */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../img/iconmonstr-location-1\ 1.png'); /* Путь к вашему изображению */
    background-repeat: no-repeat;
    background-position: right 5px center; /* Позиция изображения (можете настроить по своему усмотрению) */
    border-radius: 5px; /* Округление углов */
}

.ocean-form-group select:hover,
.ocean-form-group input:hover {
    color: white;
    background-color: #1b1b1ba8; /* Прозрачный белый фон */
}

.ocean-form-btn {
    color: white;
    background-color: #68686856; /* Прозрачный белый фон */
    border-radius: 5px;
    border: 1px solid #ffffff59; /* Белая рамка */
}

.ocean-form-btn:hover {
    color: rgb(22, 22, 22);
    background-color: #5f5f5f56; /* Прозрачный белый фон */
    border-radius: 5px;
    border: 1px solid #ffffff; /* Белая рамка */
}
/* /* секция выпадающие списки конец */


// стиль для гидов
body {
  padding: 10px;
}

.carousel {
  position: relative;
  width: 898px;
  padding: 10px 40px;
  border: 1px solid #CCC;
  border-radius: 15px;
  background: #eee;
}

.carousel img {
  width: 230px;
  height: 230px;
  /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
  display: block;
}

.arrow {
  position: absolute;
  top: 10px;
  padding: 0;
  background: #ddd;
  border-radius: 18px;
  border: solid rgb(247, 243, 243);
  font-size: 24px;
  line-height: 24px;
  color: #1b181e;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.gallery {
  width: 890px;
  overflow: hidden;
}

.gallery ul {
  height: 230px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
  /* http://davidwalsh.name/remove-whitespace-inline-block */
  font-size: 0;
}

.gallery li {
  display: inline-block;
}

